<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distance Analysis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      background-color: #FEEDE9;

    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Distance Analysis</h1>

        <form method="POST" action="/process_distance" enctype="multipart/form-data">
            <label for="image">Upload an image for distance analysis:</label>
            <input type="file" name="image" id="image" accept="image/*" class="form-control-file">
            <button type="submit" class="btn btn-primary mt-3">Analyze Distance</button>
        </form>
    </div>
</body>
</html>
